[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=4.0.4"
pytest-cov = "*"
tox = "*"
python-dotenv = "*"
psycopg2-binary = "==2.8.6"
coverage = "*"
sphinx = "*"
flake8 = "*"
django-waffle = "*"
django-extensions = "*"
shortuuid = "*"
django-celery-results = "*"
celery = "==5.2.3"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]
Django = ">=4.0.4"
pytest = "*"

[requires]
python_version = "3.9"
